  figure {
    border: 1px #cccccc solid;
    padding: 4px;
 }
  figcaption {
      color: blanchedalmond;
    font-style: italic;
    padding: 4px;
    margin-top: -50px;
    cursor: pointer;
  }
  figcaption:hover{
      color: brown;
  }
  .hdr{text-align: center;}
.pstn{
    color: black;
    position: absolute;
    border: none;
    background-color: inherit;
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
.pstn:hover{
    color: darkgray;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
  width: 100%;
}
/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
  
}

.column img:hover {
  opacity: 1;
}
.row:after {
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
}
.txt{background-color: rgba(79, 44, 16, 0.6);
  height: 1.2em;
  width: 24.1%;
  margin-top: -1.4em;
  float: right;
  display: table;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans;
  font-weight: bold;
  position: absolute;}
  .foot{
    background-color: #0b324e;

  }
  
  .listing{
    background: linear-gradient(to right,rgba(22, 71, 114, 0.8),rgba(11, 85, 88, 0.8));
    margin-top: 61px;
    margin-bottom: 5px;

  }
  body{
    display: inherit;
  }
  .listing h1{
    color:white;
    display: inline;
  }
  .site-content{
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .post-content{
    width: 100%;
    margin-bottom: 5rem;
  }
  .post-image,.post-title{
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
  }
  .img{
    width: 100%;
    transition: all 1s ease;
  }
  .img:hover{
    transform: scale(1.3);
  }
  .post-title a{
    font-size: 1.5rem;
  }
  .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background-color: #104870;
  }